#exclude
data/*
plots/*

#exception to exclusion
!data/.gitkeep
!data/input/BIP_maps/.gitkeep
!data/input/BOLD_raw/.gitkeep
!data/output/BIP_proc/.gitkeep
!data/output/BOLD_proc/.gitkeep
!data/output/LI_proc/.gitkeep
!plots/.gitkeep
